<%= link_to root_path do %>
	<div class='pvs bg-15-hover c-green-hover c-green-active'>
		<div class='plxxxl'>Home</div>
	</div>
<% end %>
<%= link_to subjects_path do %>
	<div class='pvs bg-15-hover c-green-hover c-green-active'>
		<div class='plxxxl'>Subjects</div>
	</div>
<% end %>
<%= link_to testimonials_path do %>
	<div class='pvs bg-15-hover c-green-hover c-green-active'>
		<div class='plxxxl'>Testimonials</div>
	</div>
<% end %>
<%= link_to new_contact_path do %>
	<div class='pvs bg-15-hover c-green-hover c-green-active'>
		<div class='plxxxl'>Contact</div>
	</div>
<% end %>