<%= link_to root_path do %>
	<div class='pvs bg-15-hover c-green-hover c-green-active'>
		<div class='plm'>Home</div>
	</div>
<% end %>
<%= link_to subjects_path do %>
	<div class='pvs bg-15-hover c-green-hover c-green-active'>
		<div class='plm'>Subjects</div>
	</div>
<% end %>
<%= link_to testimonials_path do %>
	<div class='pvs bg-15-hover c-green-hover c-green-active'>
		<div class='plm'>Testimonials</div>
	</div>
<% end %>
<%= link_to new_contact_path do %>
	<div class='pvs bg-15-hover c-green-hover c-green-active'>
		<div class='plm'>Contact</div>
	</div>
<% end %>