<div class='row pvm italicize bwbs bss bc-1'>
	<div class='col-md-12'>
		Here are some testimonials
	</div>
</div>
<div class='row pvm italicize bwbs bss bc-1'>
	<div class='col-md-12'>
		Here are some testimonials
	</div>
</div>
<div class='row pvm italicize bwbs bss bc-1'>
	<div class='col-md-12'>
		Here are some testimonials
	</div>
</div>
<div class='row pvm italicize bwbs bss bc-1'>
	<div class='col-md-12'>
		Here are some testimonials
	</div>
</div>